<div id="adminNav" th:fragment="nav">


<div class="nav bg-dark pt-3 pb-3 font-weight-bold">
	<div class="col-8">
		<ul class="nav nav-tabs ">
			<li class="nav-item"><a class="nav-link text-white " href="#">Ver
					Todo</a></li>

			<li class="nav-item"><a class="nav-link text-white" href="#">Registradores</a>
			</li>

			<li class="nav-item"><a class="nav-link text-white" href="#">Consultores</a>
			</li>

			<li class="nav-item"><a
				class="btn btn-primary font-weight-bold " href="#">Añadir
					Usuario</a></li>
		</ul>

	</div>

	<div class="col-4 pr-4">
		<form class=" float-right form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search"
				placeholder="Search by dni" aria-label="Search">
			<button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</div>

</div>