<footer class="pt-2 small" id="footer" th:fragment="footer">
	<div class="container-fluid text-center bg-dark text-white">
	   	<div class="row">
	   		<div class="col-md-12 bg-secondary">
		    		<h4 class="text-center"> CONTACTOS </h4>	
		    </div>
	   	</div>
	   	
	   	<div class="row">
	   		<div class="col-md-3 bg-secondary ">
		    	<p> <i class="fab fa-facebook-f"></i> Facebook</p>	
		    </div>
		    
		    <div class="col-md-3 bg-secondary">
		    		<p> <i class="fab fa-twitter"></i> Twitter</p>	
		    </div>
		    
		    <div class="col-md-3 bg-secondary">
		    			<p> <i class="fab fa-instagram"></i> Instagram</p>
		    </div>
		    
		    <div class="col-md-3 bg-secondary">
		    		<p> <i class="fab fa-youtube-square"></i> Youtube</p>	
		    </div>
	   	</div>
	   
	   	
	   	<div class="row">  	
	   <div class="col-md-5 mx-auto">
	   		<h5 class=" text-center font-weight-bold">DONDE UBICARNOS</h5>
			<p class="text-left"> Direccion: Avda. Bolivia N° 1685 B° Los Huaicos San Salvador de Jujuy, Jujuy - Argentina</p>
	      	<div class="text-left">
	      	<p> <i class="fas fa-mobile-alt"></i> Celular: 388-156786543 </p>
	      	<p> <i class="fas fa-phone"></i> Telefono: 4674513 </p>
	      	<p> <i class="fas fa-envelope"></i> Correo: correoprovisional@gmail.com </p>
	      	</div>
	      </div>
	      
	      
	   		   	
	   	 <div class="col-md-4 mx-auto">
	        <h5 class=" text-center font-weight-bold">PUBLICO OBJETIVO</h5>
	        <p class="text-left">La pagina no estara disponible para todo el publico, dado a la informacion que se maneja. Por ello solo personal capacitado sera quien pueda utilizar este material. </p>
	      	<p class="text-left"> Coordinador : Alfredo Espinoza </p>
	      	
	      </div>
	      
	      
	     <div class="col-md-2 mx-auto">
	        <h5 class=" text-center font-weight-bold">INTEGRANTES</h5>
	     	<div class="text-left">
	     		<p> <i class="fas fa-puzzle-piece"></i> Castillo, Jorge</p>
	     		<p> <i class="fas fa-puzzle-piece"></i> Coria, Jorge</p>
	     		<p> <i class="fas fa-puzzle-piece"></i> Velarde, Marcia</p>
	     		<p> <i class="fas fa-puzzle-piece"></i> Toconas, Juan </p>
	     	</div>
	     </div> 
	      	   	
	   	</div> 	   	
	   	<div class="row">
		    	<div class="col-md-12 bg-secondary">
		    		<div class="text-center py-3 table-active"> <i class="far fa-copyright"></i> 2020 Copyright:
	    				<a href="https://campus.fi.unju.edu.ar/mod/forum/view.php?id=5277"> GRUPO 15 PROGRAMACION VISUAL</a>
	  				</div>
		    	</div>
		</div>
	</div>
	
	<!-- 	
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	-->
	
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>		
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	
	
</footer>
