<div id="regNav" th:fragment="regNav">

<div class="nav bg-dark pt-3 pb-3 font-weight-bold">
	<div class="col-8">
		<ul class="nav nav-tabs ">
			<li class="nav-item"><a class="nav-link text-white" href="rRVorm" > Vehiculos</a></li>

			<li class="nav-item"><a class="nav-link text-white" href="rTForm">Tripulantes</a>
			</li>

			<li class="nav-item"><a class="nav-link text-white" href="rRForm">Registros</a>
			</li>

			<li class="nav-item">
			<a class="btn btn-primary font-weight-bold " href="#">Añadir Tripulante</a></li>
		</ul>
	</div>
</div>

</div>