.fondo{
	background-image: url("../images/fondo.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

}
/* Fuente */	
.fuente{
	font-family: 'Open sans';

}
.bordes{
	border: 2px red solid;
}
/* ****** Clases para la ventana principal de admin ***** */
contenedor-cuerpo{
	background-image: url("../images/fondo-admin.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;
	
}
.altura-tabla{
	max-height: 200px; 
	overflow: scroll;
}

.contenedor{
	width: 100%;
	background: linear-gradient(dodgerblue,#3EF514,dodgerblue);
}
.lateral{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* configuraciones de la seccion Localidades */
.my-custom-scrollbar {
position: relative;
height: 400px;
overflow: auto;
}
.my-custom-scrollbar1{
	position: relative;
	height: 600px;
	overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}