
.linea-red{
	outline: 1px solid red;
}

.linea-blue{
	outline: 1px solid blue;
}

.linea-green{
	outline: 1px solid green;
}

.linea-black{
	outline: 5px solid black;
}

.h-50p{
	max-height: 50px;
}

.h-100p{
	height: 100px;
}

.min-width-4{
	min-width: 300px;
}

.min-width-3{
	min-width: 400px;
}

.min-width-2{
	min-width: 500px;
}

.min-width-1{
	min-width: 700px;
}

.min-width-0{
	min-width: 800px;
}


.bg-lighter-dark{
	background-color: #008080;
}

.border-lighter-dark{
	border-color: #008080;
}

.bg-lighter-dark-red{
	background-color: #e05260;
}

.border-lighter-dark-red{
	border-color: #e05260;
}

.font-c1{
	font-family: 'Open sans';
	font-size: 40px;
}

.border-c1{
	border-style: double;
	border-width: 10px;
	border-left: none;
	border-right: none;
}



