.fuente{
	font-family: 'Open sans';
	color: black;
}

.fondoVer1{
	color:white;
	background-color: #09b4a3;
	border-top: 3px black solid; 
	border-bottom: 3px black solid; 
}

.cabecera{
	margin: auto;
	width: 10%;
}

select{
	size: 101%
}

div > label {
	font-family: cursive;
	color: white;
	border-radius: 2em;
	margin-top: 1em;
	text-align: center;
}

.tituloLista{
	font-family: cursive;
	color: white;
	border-radius: 2em;
	width: 33%;
	margin: 1em auto;
}

.lista {
	width:102%;
	border: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
    color: white;
    box-shadow:none;
}


input{
	border-bottom: 2px black solid;
}

select {
	box-shadow: 6px 6px 6px black;
}

.form-group input{
    height: 35px;
    font-size: 18px;
    padding-left: 54px;
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    border-left: 0px;
    border-right: 0px;
}




