.fuente{
	font-family: 'Open sans';
	color: black;
}

.fondoVer1{
	color:white;
	background-color: #09b4a3;
	border-top: 3px black solid; 
	border-bottom: 3px black solid; 
}

.cabecera{
	margin: auto;
	width: 10%;
}

div > input{
	border-bottom: 2px black solid;
	border-top: 2px black solid;
}


