.fuente{
	font-family: 'Open sans';
}

.fondoVer1{
	color:white;
	background-color: #09b4a3;
	border-top: 3px black solid; 
	border-bottom: 3px black solid; 
}

.form-group input{
    height: 35px;
    font-size: 18px;
    padding-left: 54px;
    margin-bottom: 15px;
    border-bottom: 2px black solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

button{
    width: 70%;
    margin: 5px 0 25px;
    box-shadow: 6px 6px 6px black;
}

input{
	border-bottom: 2px black solid;
}

.fondoUno{
	 box-shadow: 6px 6px 6px black;
}

button{
    width: 40%;
    margin: 15px 0 2px;
}

.botonUno{
	width: 60%;
    margin: 15px 0 2px;
}

.botonDos{
	width: 20%;
    margin: 15px 0 2px;
}
