<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- 	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css"> -->
    
    <link rel="stylesheet" type="text/css" href="css/admin.css" th:href="@{/css/admin.css}" >
    
    <title>Admin</title>
  </head>

  <body >
  
  <!-- ********************    ******************************** -->
 <!-- ********** Insercion del header **************** -->
  	<div th:insert="layout/headerDos :: headerDos"></div> 


  	

  <!-- **************** insercion de la barra de navegacion*********************  -->
  
 <div class="nav bg-dark pt-3 pb-3 font-weight-bold fuente">
	<div class="col-8">
		<ul class="nav nav-tabs ">
			<li class="nav-item">
				<a class="nav-link text-white " href="adminPrincipal">Ver
					Todo
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link text-white" href="adminRegistrador">Registradores
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link text-white" href="adminConsultor">Consultores
				</a>
			</li>

			<li class="nav-item">
			    <a class="nav-link text-white" href="adminLocalidad">Localidades
			    </a>
			</li>

			<li class="nav-item">
				<a class="btn btn-primary font-weight-bold disabled" href="adminFormulario">Añadir
					Usuario
				</a>
			</li>
		</ul>

	</div>

	<div class="col-4 pr-4">
		<form class=" float-right form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2 " type="search"
				placeholder="Search by dni" aria-label="Search">
			<button class="btn btn-primary my-2 my-sm-0 desabled" type="submit">Search</button>
		</form>
	</div>
</div>
<!-- **************** Find de la barra de navegacion*********************  -->

<!-- ******** Formulario Registro de Usuario ****************-->
<div class="container-fluid bg-white">
<div class="row justify-content-center fuente pt-4 pb-4 ">
	<div class="col-11 col-md-4 bg-primary text-center text-white lateral">
		<div>
			<i class="fas fa-user-plus fa-7x" ></i>
				<h3>FORMULARIO<br> NUEVO USUARIO</h3>	
		</div>	
	</div>

	<div class="col-11 col-md-6 border border-primary pt-4 pb-4">
		<h4>Informacion del Usuario</h4>
		<form class="form col-11 " role="form" autocomplete="off" th:object="${usuarioDelForm}" th:action="${editMode}?@{/editarUsuario}:@{/adminFormulario}" method="post">

			<input type="hidden" class="form-control border-primary border-top-0 border-left-0 border-right-0 " th:field="${usuarioDelForm.id}" th:if="${editMode}">
			<input type="hidden" class="form-control border-primary border-top-0 border-left-0 border-right-0 " th:field="${usuarioDelForm.nombreUsuario}" th:if="${editMode}">
			<input type="hidden" class="form-control border-primary border-top-0 border-left-0 border-right-0" th:field="${usuarioDelForm.password}" th:if="${editMode}">
			<input type="hidden" class="form-control border-primary border-top-0 border-left-0 border-right-0" th:field="${usuarioDelForm.tipoUsuario}" th:if="${editMode}">

		  <div class="form-group"  th:if="${editMode==null or editMode==false}">
		      <label for="nombreUsuario">Nombre de Usuario</label>
		      <input type="text" placeholder="Nombre de Usuario" class="form-control border-primary border-top-0 border-left-0 border-right-0 " th:field="${usuarioDelForm.nombreUsuario}">
		   	  <div class="alert-danger" th:if="${#fields.hasErrors('nombreUsuario')}" th:errors="*{nombreUsuario}">Name Error</div>
		   </div>

		    <div class="form-group" th:if="${editMode==null or editMode==false}">
		      <label for="password">Password</label>
		      <input type="password" placeholder="Password" class="form-control border-primary border-top-0 border-left-0 border-right-0" th:field="${usuarioDelForm.password}">
 		   	  <div class="alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div>
		   </div>

		   <div class="form-group">
		      <label for="nombreReal">Nombre Real del Usuario</label>
		      <input type="text" placeholder="Nombre Real del Usuario" class="form-control border-primary border-top-0 border-left-0 border-right-0" th:field="${usuarioDelForm.nombreReal}">
		   	  <div class="alert-danger" th:if="${#fields.hasErrors('nombreReal')}" th:errors="*{nombreReal}">Name Error</div>
		   </div>

		    <div class="form-group">
		      <label for="apellidoReal">Apellido Real del Usuario</label>
		      <input type="text" placeholder="Apellido Real del Usuario" class="form-control border-primary border-top-0 border-left-0 border-right-0" th:field="${usuarioDelForm.apellidoReal}">
		   	  <div class="alert-danger" th:if="${#fields.hasErrors('apellidoReal')}" th:errors="*{apellidoReal}">Name Error</div>
		   	</div>

		   	<fieldset class="form-group" th:if="${editMode==null or editMode==false}">
								<div class="row">
									<legend class="col-form-label col-12 col-md-3 pt-0">Tipo
										de Usuario</legend>
									<div class="col-12 col-md-9">
										<div class="form-check">
											<input class="form-check-input" type="radio"
												name="gridRadios" id="gridRadios1" value="REGISTRADOR" th:field="${usuarioDelForm.tipoUsuario}" checked>
											<label class="form-check-label" for="gridRadios1">
												REGISTRADOR </label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio"
												name="gridRadios" id="gridRadios2" value="CONSULTOR" th:field="${usuarioDelForm.tipoUsuario}">
											<label class="form-check-label" for="gridRadios2">
												CONSULTOR </label>
										</div>
										<div class="alert-danger" th:if="${#fields.hasErrors('tipoUsuario')}" th:errors="*{tipoUsuario}">Name Error</div>
									</div>
								</div>
							</fieldset>

							<div class="form-group row justify-content-end">
								<div class="">
									<input type="submit" class="btn btn-primary" value="Save Changes" th:value="${editMode}?'GUARDAR USUARIO':'CREAR USUARIO'">
									<a th:href="@{/editarUsuario/cancelar}" type="button" class="btn btn-danger">CANCELAR</a>
								</div>
							</div>
							
							<div class="alert-danger text-center" th:if="${formError}" th:text="${formError}" >Name Error</div>

		</form>

	</div>
	
</div>
</div>

<!-- ******** Fin de Formulario ****************-->

	<!-- Insercion del fragmento footer utlizando thymeleaf --> 
	<div th:insert="layout/footer :: footer"></div>

  </body>
</html>