<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">

    <title>Registrador</title>
  </head>

  <body>
  	
  		
  	<!-- ********** Insercion del header **************** -->
  	<div th:insert="layout/headerDos :: headerDos"></div>

<!-- **************** insercion de la barra de navegacion*********************  -->
  		<div class="nav bg-dark pt-3 pb-3 font-weight-bold mb-5">
  			<div class="col-8">
	  			<ul class="nav nav-tabs ">
			  		<li class="nav-item">
			   		 	<a class="nav-link text-white " href="adminPrincipal">Ver Todo</a>
			  		</li>

			  		<li class="nav-item">
			    		<a class="nav-link text-white" href="adminRegistrador">Registradores</a>
			  		</li>

			  		<li class="nav-item">
			   			 <a class="nav-link text-white" href="adminConsultor">Consultores</a>
			  		</li>
			  		<li class="nav-item">
			   			 <a class="nav-link text-white" href="adminLocalidad">Localidades</a>
			  		</li>

			 		<li class="nav-item">
			   			 <a class="btn btn-primary font-weight-bold " href="adminFormulario">Añadir Usuario</a>
			  		</li>  
				</ul>

  			</div>
  		
			<div class="col-4 pr-4">
				<form class=" float-right form-inline my-2 my-lg-0">
		     		<input class="form-control mr-sm-2" type="search" placeholder="Search by dni" aria-label="Search">
		    	  	<button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
		    	</form>
			</div>
	  	</div>
<!-- **************** Find de la barra de navegacion*********************  -->

<!-- **************** Cuerpo de la Pagina Principal *********************  -->
  	<div class="container">
  		
  		<div class="row justify-content-center mb-4">
			<h1 class=" w-100 p-2 text-center " style="border-top:  3px dodgerblue solid; border-bottom:  3px dodgerblue solid;">USUARIOS RESGISTRADORES</h1>
		</div>
  			
  
		<div class="my-custom-scrollbar1 table-wrapper-scroll-y">
  		<table class="table table-reponsive-sm table-striped">
		  <thead >
		    <tr >
		      <th scope="col">ID</th>
		      <th scope="col">Usuario</th>
		      <th scope="col">Password</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Apellido</th>
		      <th scope="col">Tipo de Usuario</th>
		      <th scope="col">Accion</th>
		    </tr>
		  </thead>
		  
		  <tbody>
		  
		    <tr th:each="usuario : ${listaUsuariosReg}">
		      <th th:text="${usuario.id}"></th>
		      <td th:text="${usuario.nombreUsuario}"></td>
		      <td th:text="${usuario.password}"></td>
		      <td th:text="${usuario.nombreReal}"></td>
		      <td th:text="${usuario.apellidoReal}"></td>
		      <td th:text="${usuario.tipoUsuario}"></td>
		      <td>
		      	<button type="button" class="btn btn-primary">Editar</button>
				<button type="button" class="btn btn-danger">Eliminar</button>
		      </td>
		    </tr>
		    
		  </tbody>
		</table>
		</div>
  	</div>
  			
	<!-- Insercion del fragmento footer utlizando thymeleaf --> 
	<div th:insert="layout/footer :: footer"></div> 

	</body>
</html>