<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/consultas.css">
		<title>Localidad</title>
	</head>
	
	<body>
		<header th:insert="layout/header :: header"></header>
		<!--mb= margin bottom-->
		<section class="col-12 mb-5">
			<!-- Propiedades destacada: nav= d.flex | nav-tabs=colorBorder | mt=margin top-->
			<nav class="col-10 m-auto nav nav-tabs mt-3">
			 	<!-- Propiedades a destacar: nav-item= flex| nav-link y active= borderColor | -->
			  	<a class="nav-item nav-link active text-success" href="localidad">Localidad</a>
				<a class="nav-link active" href="tripulante">Tripulante</a>
				<a class="nav-link active" href="patente">Patente</a>
			</nav>
			
			<!-- mt/b = margin top/bottom | btn-link= subrayado-->
			<h2 class="col-sm-12 text-center mt-5 mb-5 btn-link text-dark font-weight-normal">Listado de Vehiculo Por Localidad y Fecha-Hora</h2>
			<!-- Propiedades a destacar: row= d.flex, flex-wrap | m=margin-->
			<form class="col-12 mb-5 row m-0  justify-content-center">
				<div class="col-lg-3 col-sm-6 order-md-1">
					<!-- Propiedades destacar: card/border-success= borderColor -->
					<div class="card m-3 shadow-sm border-success">
					  	<!-- Propiedad destacar: card-header= padding  -->
					  	<h4 class="card-header text-center bg-success font-weight-normal">Inicio<br>Fecha Hora</h4>
					  	<!-- Propiedad destacar: card-body= padding -->
					   	<div class="card-body">
							<label for="validationDefault01"></label>
							<!-- required obliga q el campo se complete --> 
							<input type="datetime-local" class="form-control text-center border-success" id="validationDefault01" required>
					  	</div>
					</div>
				</div>
					  
				<div class="col-lg-3 col-sm-6 order-sm-3 order-lg-2">
					<div class="card m-3 shadow-sm border-success">
						<h4 class="card-header text-center bg-success font-weight-normal">Localidades</h4>
						<div class="card-body ">
							<!-- Propiedad destacar: custom-select= color/border/letras/ -->
							<select class="custom-select mt-3 border-success" id="validationDefault04" required>
								<option selected disabled>Sin Seleccionar</option>
								<option>S.S. Jujuy</option>
							</select>
						</div>
					</div>
				</div>
					  
				<div class="col-lg-3 col-sm-6 order-md-2">
					<!-- Propiedades destacar: card/border-success= borderColor -->
					<div class="card m-3 shadow-sm border-success">
						<!-- Propiedad destacar: card-header= padding-->
						<h4 class="card-header text-center bg-success font-weight-normal">Fin<br>Fecha Hora</h4>
						<!-- Propiedad destacar: card-body= padding-->
						<div class="card-body">
							<label for="validationDefault02"></label> 
							<input type="datetime-local" class="form-control text-center border-success" id="validationDefault02" required>
						</div>
					</div>
				</div>
				
						
				<!-- w= width | d= display | mb=margin bottom | h=hight | pb= padding bottom | m=margin -->
				<div class="col-12 h-100p order-sm-4 align-items-center  d-flex ">
					<!-- rounded/success= borderRedondeo/color -->
					<button class="rounded-pill border-success col-sm-3 m-auto" type="submit"><b>Buscar</b></button>
				</div>
			</form>
			
			<!-- Propiedad destacar: table-responsive-xl= overflow -->		
			<div class="d-flex table-responsive-xl">
				<div class="col-auto min-width-1 mx-auto">
					<!-- Propiedad destacar: card/border-= coloresBordes -->
					<div class="card shadow-sm  border-lighter-dark">
					  	<!-- Propiedad destacar: card-header= colores | bg= background-color -->
					   	<h2 class="card-header text-center font-weight-normal bg-lighter-dark">Datos de los Vehiculos</h2>
					   	<!-- Propiedad destacar: card-body= padding -->
					   	<div class="card-body">
					      	<!-- Propiedad destacar: table= color/bordes-->
							<table class="table table-hover ">
								<thead>
									<tr>
										<th scope="col">Titular</th>
										<th scope="col">Patente</th>
										<th scope="col">Modelo</th>
										<th scope="col">Marca</th>
										<th scope="col">Fecha-Hora</th>
										<th scope="col">Localidad</th>
									</tr>
								</thead>
								
								<tbody>
									<tr>
										<td>Mark</td>
										<td>AA 441 ES</td>
										<td>Fiat Cronos</td>
										<td>Fiat</td>
										<td>15/06/2020 01:27</td>
										<td >S.S.J</td>
									</tr>
								</tbody>
							</table>
					 	</div>
					 </div>
				</div>
					  	
				<div class="col-auto mx-auto min-width-2">
					<!-- Propiedad destacar: card/border-= coloresBordes -->
					<div class="card shadow-sm border-lighter-dark">
						<!-- Propiedad destacar: card-header= colores | bg= background-color -->
					    <h2 class="card-header text-center font-weight-normal bg-lighter-dark">Datos de los Tripulantes</h2>
					    <!-- Propiedad destacar: card-body= padding -->
					    <div class="card-body">
					    	<!-- Propiedad destacar: table= color/bordes -->
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col">DNI</th>
										<th scope="col">Apellido</th>
										<th scope="col">Nombre</th>
										<th scope="col">Nacionalidad</th>
									</tr>
								</thead>
										
								<tbody>
									<tr>
										<td>23165465</td>
										<td>A1</td>
										<td>N1</td>
										<td>Argentina</td>
									</tr>
											
									<tr>
										<td>12345465</td>
										<td>A2</td>
										<td>N2</td>
										<td>Brazil</td>
									</tr>
											
									<tr>
										<td>655665</td>
										<td>A3</td>
										<td>N3</td>
										<td>Chile</td>
									</tr>
								</tbody>
							</table>
					  	</div>
					</div>
				</div>
			</div>
		</section>
	 
		<div th:insert="layout/footer :: footer"></div>
	</body>
</html>