<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/login.css">
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    
	<title>Login</title>
	
</head>

<body>

	<!-- Insercion del fragmento header utilizando thymeleaf  -->
	<div th:insert="layout/header :: header"></div>

	<div class="contenido mt-2">
		<div class="contenido-capa">
		
			<div class="presentacion col-sm-6 text-center text-white">
				<h1>Bienvenidos al Sistema de monitoreo de vehículos.</h1>
				<p>Una aplicación destinada a ayudar con el control de los
					vehículos, sus pasajeros y recorridos dentro de la provincia.</p>
			</div>
		
			<div class="modal-dialog col-sm-6 text-center">
	                <div class="main-section">
	                    <div class="modal-content2 col-sm-10">
	                        <div class="col-12 user-img">
	                            <img class="img-responsive" src="images/avatar_login.png" th:src="@{/images/avatar_login.png}"/>
	                        </div>
	                        <form class="col-12" th:object="${usuarioLog}" th:action="@{/login}"   method="post">
	                            <div class="form-group" id="user-group">
	                                <input type="text" class="form-control" placeholder="Usuario" name="username"/> <!-- Nombre usado en WebSecConf -->
	                            </div>
	                            <div class="form-group" id="contrasena-group">
	                                <input type="password" class="form-control" placeholder="Contraseña" name="password"/> <!-- Nombre usado en WebSecConf -->
	                            </div>
	                            <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
	                            <div class="alert-danger text-center" th:if="${formLoginErrorMessage}" th:text="${formLoginErrorMessage}"> Error </div>
	                        </form>
	                    </div>
	                </div>
	        </div>
	        
		</div>
	</div>

	<div th:if="${param.error}" class="alert alert-danger" role="alert">
		Combinacion Invalida de Usuario y Contraseña </div>
	
	<div th:if="${param.logout}" class="alert alert-success" role="alert">  Ha salido del Sistema, gracias por usar nuestra pagina  </div>
		



	<!-- Insercion del fragmento footer utilizando thymeleaf  -->
	<div th:insert="layout/footer :: footer"></div>

</body>
</html>
