<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">	
	<link rel="stylesheet" type="text/css" href="css/registrador.css"/>
	
	
	<title>Registrador de Vehiculos </title>
</head>
	
	<body  class="fuente">
	
	  	<!-- ********** Insercion del header **************** -->
		<div th:insert="layout/header :: header"></div>
		
		<!-- ************************** -->
		<!-- CUERPO PRINCIPAL -->
		<!-- ************************** -->
		<div class="container-fluid fuente mb-3">
		
		
		<div class="row justify-content-center mb-4 mt-4">
			<h1 class=" w-60 p-2 text-center " style="border-top:  3px dodgerblue solid; border-bottom:  3px dodgerblue solid;">REGISTRO DE VEHICULOS</h1>
		</div>
			
		<!--  -->
		<form  th:action="@{/saveReg}" autocomplete="off"  th:object="${registros}"  method="post"  > 
			
			<div class="row justify-content-center ">
				<h4 class=" w-60 p-2 text-center " style="border-top:  3px dodgerblue solid; border-bottom:  3px dodgerblue solid;">Detalles del vehiculo</h4>
			</div>
			
			<div class="form-row mx-auto justify-content-center bg-info">
			
					<div class="form-group col-md-2 mx-1">
							<label for="patente" >PATENTE</label>
							<input  type="text" class="form-control" id="patente" th:field = "*{vehiculos.patente}"  placeholder="PATENTE">
						</div>
					
						<div class="form-group col-mb-2 mx-1">
							<label for="marca" >MARCA</label>
							<input th:field = "*{vehiculos.marca}" type="text" class="form-control" id="marca" placeholder="MARCA">
						</div>
					
						<div class="form-group col-mb-2 mx-1">
							<label for="modelo" >MODELO</label>
							<input th:field = "*{vehiculos.modelo}"  type="text" class="form-control" id="modelo" placeholder="MODELO">				   
						</div>
					
						<div class="form-group col-mb-2 mx-1">
				 			<label for="chasis" >CHASIS</label>
				 			<input th:field = "*{vehiculos.numeroChasis}"  type="text" class="form-control" id="chasis" placeholder="N° DE CHASIS">
						</div>
					
						<div class="form-group col-mb-2 mx-1">
							<label for="motor">MOTOR</label>
							<input th:field =*{vehiculos.numeroMotor}  type="text" class="form-control" id="motor" placeholder="N° DE MOTOR">			    
		   				</div>
		   			
		   				<div class="form-group col-mb-2 mx-1">
							<label for="color" >COLOR</label>
							<input th:field =*{vehiculos.color}  type="text" class="form-control" id="color" placeholder="COLOR">			    
						</div>	
					
						<div class="form-group col-mb-2 mx-1">
							<label for="tipo" >TIPO</label>
							<input th:field =*{vehiculos.tipo} type="text" class="form-control" id="tipo" placeholder="TIPO">			   
		    			</div>
		    		
		    			<div class="form-group col-mb-2 mx-1">
							<label for="titular">TITULAR</label>
							<input th:field =*{vehiculos.titular}  type="text" class="form-control" id="titular" placeholder="TITULAR">					    
						</div>
			</div>
			
			
			<div class="row justify-content-center mt-3">
				<h4 class=" w-60 p-2 text-center " style="border-top:  3px dodgerblue solid; border-bottom:  3px dodgerblue solid;">Detalles de los tripulantes</h4>
			</div>
			
			<div class="form-row mx-auto justify-content-center bg-info">
			
					<div class="form-group col-mb-2 mx-1">
						<label for="nombre" > <i class="far fa-user"></i> NOMBRE </label>				
						<input  type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre del tripulante">
					</div>	
					
					<div class="form-group col-mb-2 mx-1">
						<label for="apellido" > <i class="far fa-user"> </i> APELLIDO </label>
						<input type="text" class="form-control" id="apellido" placeholder="Ingrese el apellido del tripulante">
					</div>
								
					<div class="form-group col-mb-2 mx-2">
						<label for="nacionalidad" > <i class="fab fa-font-awesome-flag"></i> NACIONALIDAD</label>
						<input  type="text" class="form-control" id="nacionalidad" placeholder="Ingrese la nacionalidad del tripulante">
					</div>								

					<div class="form-group col-mb-2 mx-2">
						<label for="documento" > <i class="fas fa-id-card"></i>DOCUMENTO</label>
						<input type="text" class="form-control" id="documento" placeholder="Ingrese el D.N.I. del tripulante">
					</div>
					
					<div class="form-group col-mb-2 my-auto">
						<button type="submit" class="btn btn-warning "> REGISTRAR TRIPULANTE </button>
					</div>
			</div>
			
			<br>
			
			<div class="row justify-content-center">
				<h4 class=" w-60 p-2 text-center " style="border-top:  3px dodgerblue solid; border-bottom:  3px dodgerblue solid;">Detalles del lugar</h4>
			</div>
			
			
			<div class="form-row mx-auto justify-content-center bg-info">
				
				<div class="form-group col-mb-3 mx-1 ">
					<label for="lista"> LISTA DE LOCALIDADES</label> 
						<select  class="custom-select " id="lista" required>
							<option th:each="localidad:${listaLocalidades}" th:value="${localidad.id}" th:text="${localidad.nombre}"  th:field =*{localidad.id} } ></option>
						</select>
				</div>
			
				<div class="form-group col-mb-2">
					<label for="detalle">DETALLES DEL LUGAR</label>
					<input th:field =*{detalleLugarRegistro}  type="text" class="form-control" id="detalle" placeholder="DETALLES DEL LUGAR">					    
				</div>
				
				<div class="form-group col-mb-3 mx-1 my-auto">
					<button type="submit" class="btn btn-primary "> REGISTRAR VEHICULO </button>
				</div>
			</div>
			
			
	</form>	
					
</div>
				

	<div th:insert="layout/footer :: footer"></div>
</body>

</html>