<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">	
	<link rel="stylesheet" type="text/css" href="css/registrador.css"/>
	
	
	<title>Registrador de Vehiculos </title>
</head>
	
	<body  >
	
	  	<!-- ********** Insercion del header **************** -->
		<div th:insert="layout/header :: header"></div>
		
		<!-- ************************** -->
		<!-- CUERPO PRINCIPAL -->
		<!-- ************************** -->
		<div class="container-fluid fuente">
		
		<!-- ************************** -->
		<!--  TITULO -->
		<!-- ************************** -->
		
			<div class="row justify-content-center mb-4 mt-4">
			<h1 class=" w-60 p-2 text-center " style="border-top:  3px dodgerblue solid; border-bottom:  3px dodgerblue solid;">REGISTRO DE VEHICULOS</h1>
		</div>
			
			
		<!-- ************************** -->
		<!--  INICIO FORMULARIO VEHICULO -->
		<!-- ************************** -->
			
			<!-- th:action="@{/saveReg}" th:object=${registrotracking} method="POST" -->
			<div class="row mx-auto" >
			
				<!-- ************************************************* -->
				<!--  CAMPOS FORMULARIO VEHICULO COLUMNA IZQUIERDA -->
				<!-- ************************************************* -->
				<div class="col-md-6 text-center mx-auto mb-2">
					<!-- <input type="hidden" th:field = "*{id}"/> -->
					
					
					
					
					<div class="row justify-content-center bg-info mb-2" style="border-top:  3px black solid; border-bottom:  3px black solid;">
						<h4 class=" w-60 p-2 text-center " >DETALLES DEL VEHICULO</h4>
					</div>
					
					<div class="row">
						<div class=" col-md-12 fondoVer1">
						
							<!-- ************************************************* -->
							<!--  CAMPOS FORMULARIO VEHICULO  -->
							<!-- ************************************************* -->
						
							<div class="form-group row my-4">
							    <label for="patente" class="col-sm-2 col-form-label my-auto texto">PATENTE</label>
							    <div class="col-sm-10">
							    <!-- th:field = "*{vehiculo.patente}" -->
								
							      <input  type="text" class="form-control" id="patente" placeholder="PATENTE">
							    </div>
							</div>
							
							<div class="form-group row mb-4">
							    <label for="marca" class="col-sm-2 col-form-label my-auto texto">MARCA</label>
							    <div class="col-sm-10">
							    <!-- th:field = "*{vehiculo.marca}"  -->
								
							      <input type="text" class="form-control" id="marca" placeholder="MARCA">
							    </div>
							</div>
							
							<div class="form-group row mb-4">
							    <label for="modelo" class="col-sm-2 col-form-label my-auto texto">MODELO</label>
							    <div class="col-sm-10">
							    <!-- th:field = "*{vehiculo.modelo}" -->
							   
							      <input  type="text" class="form-control" id="modelo" placeholder="MODELO">
							    </div>
							</div>
							
							<div class="form-group row mb-4">
							    <label for="chasis" class="col-sm-2 col-form-label my-auto texto">CHASIS</label>
							    <div class="col-sm-10">
							     <!-- th:field = "*{vehiculo.chasis}"  -->
							    
							      <input type="text" class="form-control" id="chasis" placeholder="N° DE CHASIS">
							    </div>
							</div>
							
							<div class="form-group row mb-4">
							    <label for="motor" class="col-sm-2 col-form-label my-auto texto">MOTOR</label>
							    <div class="col-sm-10">
							    <!-- th:field = "*{vehiculo.motor}"  -->
							    
							      <input type="text" class="form-control" id="motor" placeholder="N° DE MOTOR">
							    </div>
							</div>
							
							<div class="form-group row mb-4">
							    <label for="color" class="col-sm-2 col-form-label my-auto texto">COLOR</label>
							    <div class="col-sm-10">
							    <!-- th:field = "*{vehiculo.color}" -->
							   
							      <input  type="text" class="form-control" id="color" placeholder="COLOR">
							    </div>
							</div>
							
							<div class="form-group row mb-4">
							    <label for="tipo" class="col-sm-2 col-form-label my-auto texto">TIPO</label>
							    <div class="col-sm-10">
							     <!-- th:field = "*{vehiculo.tipo}" -->
							      
							      <input  type="text" class="form-control" id="tipo" placeholder="TIPO">
							    </div>
							</div>
							
							<div class="form-group row mb-4">
							    <label for="titular" class="col-sm-2 col-form-label my-auto texto">TITULAR</label>
							    <div class="col-sm-10">
							    <!-- th:field = "*{vehiculo.titular}" -->
							       
							      <input  type="text" class="form-control" id="titular" placeholder="TITULAR">
							    </div>
							</div>
							
							
								<div class="form-group row mb-4 my-3">
							    <label for="detalles" class="col-sm-2 col-form-label my-auto">DETALLES</label>
							    <div class="col-sm-10">
							    <!-- th:field = "*{detallelugarregistro}"  -->
							        
							      <input type="text" class="form-control" id="detalles" placeholder="DETALLES DEL LUGAR DEL REGISTRO">
							    </div>
							</div>
						
							
						</div>
					</div>
				</div>
				
				<!-- ************************************************* -->
				<!--  FIN CAMPOS FORMULARIO VEHICULO Y COLUMNA IZQUIERDA  -->
				<!-- ************************************************* -->
				
				
				<!-- ************************************************* -->
				<!--  COLUMNA DERECHA  -->
				<!-- ************************************************* -->
				
				<div class="col-md-5 text-center mx-auto  mb-2">
					<div class="row justify-content-center bg-info mb-2" style="border-top:  3px black solid; border-bottom:  3px black solid;">
						<h4 class=" w-60 p-2 text-center " >LOCALIDAD </h4>
					</div>
					
					<!-- ************************************************* -->
					<!--  LISTA DE LOCALIDADES  -->
					<!-- ************************************************* -->
					
					<div class="row mb-2">
						<div class=" col-md-12 fondoVer1 ">
							<div class="row">
								<div class="col-md-12 mx-auto">

									<select class="custom-select text-black lista"size="5">
									<!-- th:field = "*{localidad.nombre} -->
										<option th:each="localidad :${listaLocalidades}" th:value="${localidad.id}" th:text="${localidad.nombre} " ></option>
									</select>
								</div>
							</div>	
						</div>
					</div>
					
				<!-- ************************************************* -->
				<!-- FIN LISTA DE LOCALIDADES  -->
				<!-- ************************************************* -->	
					
				
				<!-- ************************************************* -->
				<!-- INICIO FORMULARIO TRIPULANTES  -->
				<!-- ************************************************* -->
					
				<div class="row">
						<div class="col-md-12 mx-auto">
								<div class="row justify-content-center bg-info mb-2" style="border-top:  3px black solid; border-bottom:  3px black solid;">
									<h4 class=" w-60 p-2 text-center " >DETALLES DEL TRIPULANTE </h4>
								</div>
						</div>	
						
				<!-- ************************************************* -->
				<!-- CONTENEDOR DE CAMPOS DEL FORMULARIO DE TRIPULANTES  -->
				<!-- ************************************************* -->		
							<div class="col-md-12 fondoVer1">
							
								<!-- ************************************************* -->
								<!-- INICIO CAMPOS DE TRIPULANTE -->
								<!-- ************************************************* -->	
							
								<div class="form-group row my-4">
									<label for="nombre" class="col-sm-1 col-form-label my-auto "> <i class="far fa-user"></i></label>
									<div class="col-sm-11">
									<input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre del tripulante">
									</div>
								</div>
								
								<div class="form-group row my-4">
									<label for="apellido" class="col-sm-1 col-form-label my-auto "> <i class="far fa-user"></i></label>
									<div class="col-sm-11">
									<input type="text" class="form-control" id="apellido" placeholder="Ingrese el apellido del tripulante">
									</div>
								</div>
								
								<div class="form-group row my-4">
									<label for="nacionalidad" class="col-sm-1 col-form-label my-auto "> <i class="fab fa-font-awesome-flag"></i></label>
									<div class="col-sm-11">
									<input type="text" class="form-control" id="nacionalidad" placeholder="Ingrese la nacionalidad del tripulante">
									</div>
								</div>
								
								<div class="form-group row my-4">
									<label for="documento" class="col-sm-1 col-form-label my-auto "> <i class="fas fa-id-card"></i></label>
									<div class="col-sm-11">
									<input type="text" class="form-control" id="documento" placeholder="Ingrese el D.N.I. del tripulante">
									</div>
								</div>
								
								<!-- ************************************************* -->
								<!-- FIN CAMPOS TRIPULANTE  -->
								<!-- ************************************************* -->
								
								<!-- ************************************************* -->
								<!-- BOTONES TRIPULANTE  -->
								<!-- ************************************************* -->
								<div class="row">
									<div class="col-md-8 mx-auto mb-2">
										
											<button type="button" class="btn btn-warning"> REGISTRAR TRIPULANTE </button>
										
											<!-- <button type="button" class="btn btn-primary botonDos"> <i class="fas fa-user-plus"></i></button> -->
									</div>
								</div>
							</div>
				</div>	
			
			</div>

		</div>
	</div>
	
	
		<div class="row justify-content-center ">
				<button type="button" class="btn btn-primary"> <i class="fas fa-car"></i> REGISTRAR VEHICULO</button>
		</div>
		
		<div class="row justify-content-center  my-3">
				<button type="button" class="btn btn-danger "> <i class="fas fa-ban"></i> CENCELAR </button>
		</div>
	<div th:insert="layout/footer :: footer"></div>
</body>

</html>