<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
	
	<link rel="stylesheet" type="text/css" href="static/css/registrador2.css" th:href="@{/css/registrador2.css}">

	<title>Registrador de usuarios</title>
</head>

<body>
	<div th:insert="layout/header :: header"></div>

	<div class="container-fluid fuente">
		
		<div class="row justify-content-center mb-4 mt-4">
			<h1 class=" w-60 p-2 text-center " style="border-top:  3px dodgerblue solid; border-bottom:  3px dodgerblue solid;">REGISTRO DE TRIPULANTES</h1>
		</div>
		
	<div class="row mx-auto">
		<div class="col-md-4 text-center mx-auto mb-2">
		
			<div class="row justify-content-center bg-info" style="border-top:  3px black solid; border-bottom:  3px black solid;">
				<h3 class=" w-60 p-2 text-center " >INSTRUCCIONES</h3>
			</div>
			
			<div class="row">
				<div class="col-md-12 mx-auto mt-1 mb-3 fondoVer1 ">
					<p class="texto text-center"> Ha ingresado en el formulario de carga de tripulantes.</p>
					<p class="texto text-center"> Llenado el formulario podra realizar las siguientes </p>
				</div>
			</div>
			
			<div class="row justify-content-center bg-info" style="border-top:  3px black solid; border-bottom:  3px black solid;">
				<h3 class=" w-60 p-2 text-center " >CARGAR TRIPULANTE</h3>
			</div>
			
			<div class="row">
				<div class="col-md-12 mx-auto mt-1 mb-3 fondoVer1 ">
					<p class="texto text-justify"> <i class="fas fa-user-plus"></i> Tras llenar el formulario, podra cargar un tripulante usnado cualquiera de los botones pero el boton REGISTRAR TRIPULANTE limpiara los campos para poder ingresar otro tripulante mientras FINALIZAR REGISTRO ingresara el nuevo tripulante y finalizara la carga</p>
				</div>
			</div>
			
			<div class="row justify-content-center bg-info" style="border-top:  3px black solid; border-bottom:  3px black solid;">
				<h3 class=" w-60 p-2 text-center " >FINALIZAR REGISTRO</h3>
			</div>
			
			<div class="row">
				<div class="col-md-12 mx-auto mt-1 mb-3 fondoVer1 ">
					<p class="texto text-justify"> <i class="fas fa-user-plus"></i> Si el registro del vehiculo tiene al menos un tripulante podra usar este boton para finalizar la carga de tripulantes, si el formulario esta incompleto el nuevo tripulante no se cargara caso contrario se ingresara el nuevo tripualante y se finalizara el registro</p>
				</div>
			</div>
		</div>
		
		<div class="col-md-7 text-center mx-auto  mb-1">
		
			<div class="row justify-content-center bg-info mb-2" style="border-top:  3px black solid; border-bottom:  3px black solid;">
				<h2 class=" w-60 p-2 text-center " >DETALLES DEL TRIPULANTE</h2>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="form-group row my-4">
						<label for="nombre" class="col-sm-1 col-form-label my-auto "> <i class="far fa-user"></i></label>
						<div class="col-sm-11">
						<input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre del tripulante">
						</div>
					</div>
					
					<div class="form-group row my-4">
						<label for="apellido" class="col-sm-1 col-form-label my-auto "> <i class="far fa-user"></i></label>
						<div class="col-sm-11">
						<input type="text" class="form-control" id="apellido" placeholder="Ingrese el apellido del tripulante">
						</div>
					</div>
					
					<div class="form-group row my-4">
						<label for="nacionalidad" class="col-sm-1 col-form-label my-auto "> <i class="fab fa-font-awesome-flag"></i></label>
						<div class="col-sm-11">
						<input type="text" class="form-control" id="nacionalidad" placeholder="Ingrese la nacionalidad del tripulante">
						</div>
					</div>
					
					<div class="form-group row my-4">
						<label for="documento" class="col-sm-1 col-form-label my-auto "> <i class="fas fa-id-card"></i></label>
						<div class="col-sm-11">
						<input type="text" class="form-control" id="documento" placeholder="Ingrese el D.N.I. del tripulante">
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-8 mx-auto">
							
								<button type="button" class="btn btn-primary botonUno "> REGISTRAR TRIPULANTE</button>
							
							
								<button type="button" class="btn btn-primary botonDos"> <i class="fas fa-user-plus"></i></button>
							
						</div>
					</div>
					<button type="submit" class="btn btn-primary texto"> <i class="fas fa-ban"></i> TERMINAR REGISTRO</button>
				</div>
			</div>	
		</div>		
	</div>
	</div>
	<div th:insert="layout/footer :: footer"></div>
</body>
</html>