<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/consultas.css">
		<title>Tripulante</title>
	</head>
	
	<body>
		<header th:insert="layout/header :: header"></header>
		<!--mb= margin bottom-->
		<section class="mb-5">
			<!-- Propiedades destacada: nav= d.flex | nav-tabs=colorBorder | m= margin-->
			<nav class="col-10 m-auto nav nav-tabs mt-3">
				<!-- Propiedades a destacar: nav-item= flex| nav-link y active= borderColor | -->
			    <a class="nav-link active" href="localidad">Localidad</a>
			    <a class="nav-item nav-link active text-info" href="tripulante">Tripulante</a>
			    <a class="nav-link active" href="patente">Patente</a>
			</nav>
			
			<!-- mt/b = margin top/bottom | btn-link= subrayado-->
			<h2 class="col-sm-12 text-center mt-5 mb-5 btn-link text-dark font-weight-normal">Listado de recorrido por Tripulante</h2>
			
			<!-- Propiedades a destacar: form-inline= d.flex | mr= margin right-->
			<form class="col-12 row form-inline justify-content-end  mt-5 mb-5 mr-sm-4" method="get">
				<!-- rounded= redondeo | border/secondary= border/Color -->
				<div class="d-flex rounded-left border border-secondary">
					<!-- Propiedades a destacar: form-group/form-control= color/border/font-->
					<input type="text" class="form-group form-control  rounded-0 m-0 border-0" placeholder="ingresarDNI">
					<!-- btn/primary= colores/bordes-->
					<button type="submit" class="btn btn-info rounded-0 border-0">
						<svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
							<path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
						</svg>
					</button>
				</div>
			</form>
			
			<!--Propiedades destacar: table-responsive-xl= overflow | m= margin-->	
			<div class="col-sm-12 mt-5 d-flex table-responsive-xl">
				<div class="col-auto mx-auto min-width-2">
					<!-- Propiedad destacar: card/border= border/Colores -->
					<div class="card shadow-sm border-info">
						<!-- Propiedad destacar: card-header= padding | bg-info= background-color-->
						<h2 class="card-header text-center bg-info font-weight-normal">Info del Tripulante</h2>
						<!-- Propiedad destacar: card-body= padding -->
						<div class="card-body">
							<!-- Propiedad destacar: table= color/bordes-->
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col">DNI</th>
										<th scope="col">Apellido</th>
										<th scope="col">Nombre</th>
										<th scope="col">Nacionalidad</th>
									</tr>
								</thead>
									
								<tbody>
									<tr>
										<td>12455123</td>
										<td>Ccccccccc1</td>
										<td>Eeeeeeee1</td>
										<td>Argentinaa</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
				<div class="col-sm-7 min-width-1">
					<!-- Propiedad destacar: card/border= border/Colores -->	
					<div class="card border-info shadow-sm">
						<!-- Propiedad destacar: card-header= padding | bg-info= background-color-->	
						<h2 class="card-header text-center bg-info font-weight-normal">Recorrido del Tripulante</h2>
						<!-- Propiedad destacar: card-body= padding -->
						<div class="card-body">
							<!-- Propiedad destacar: table= color/bordes-->	
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col">Patente-Vehiculo</th>
										<th scope="col">Fecha-Hora</th>
										<th scope="col">Localidad</th>
										<th scope="col">Detalle-Registro</th>
									</tr>
								</thead>
									
								<tbody>
									<tr>
										<td>ARS 154 15</td>
										<td>15/06/2020 17:35 hs</td>
										<td>S.S. Jujuy</td>
										<td>Hola hola hola...</td>
									</tr>
					
									<tr>
										<td>BR 154 15</td>
										<td>15/06/2020 22:54 hs</td>
										<td>Humahuaca</td>
										<td>Hola hola hola...</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>	
			</div>
		</section>
		
		<div th:insert="layout/footer :: footer"></div>
	</body>
</html>